:root {
 --color-text: #757575;
 --second-color-text: #212121;
 --background-color: #f5f5f5;
 --accent-color: #2196f3;
}
body {
  background-color: var(--background-color);
  color: var(--color-text);
  font-family: "Roboto", sans-serif;

  /* колір бордеру color: #ECECEC; */
  /* альетрнативний колір фону color: #F5F4FA; */
  /* колір футеру color: #2F303A; */
  /* другорядний колір тексту color: #212121; */
  /* основний колір тексту color: #757575; */
  /* білий колір color: #ffffff; */
  /* колір акценту color: #2196F3; */
}
.header .list {
  list-style: none;
}
.header .link {
  text-decoration: none;
}
.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}
.logo {
  color: #000000;
}
.site-nav .link {
  color: var(--second-color-text);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.auth-nav .link {
  color: var(--color-text);
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
color: var(--accent-color);
}
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
}
.hero-button {
  background-color: var(--accent-color);
  color: #ffffff;
}
.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.section-title {
  color: var(--second-color-text);
}
.features-title {
  color: var(--second-color-text);
}
.features .list {
  list-style: none
}
.examples .list {
  list-style: none;
}
.team-title {
  color: var(--second-color-text);
}
.team .list {
  list-style: none;
}
.footer {
  background-color: #2f303a;
}
.footer .footer-logo-web {
  color: var(--accent-color);
  text-decoration: none;
}
.footer-logo-studio {
  color: #ffffff;
  text-decoration: none;
}
.footer .list {
  list-style: none;
}
.footer .link {
  color: #ffffff;
  text-decoration: none;
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}